.navbar{
  padding: 10px;
  background-color: #1e94d2;
}

.navbar-toggle{
  color: #ffffff;
}

.navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: #3a3633;
  z-index: 9998;
  /*tirar bolinhas do estilo list-style: none*/
  list-style: none;
  padding: 0;
}

.navbar-usuario{
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1px solid #525151;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.navbar-menuitem {
  padding: 15px;

}

/*ESTILIZANDO A PROPRIEDADE A QUE É FILHO DE NAVBARMENUITEM*/
.navbar-menuitem a{
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menuitem a:hover{
  color: white;
}
